      <tr>
        <td><%= image_tag character_type.avatar, width: "150px" %></td>
        <td><%= character_type.name %></td>
        <td><%= render character_type.character_attributes %></td>
        <td><%= link_to 'Show', character_type %></td>
        <td><%= link_to 'Edit', edit_character_type_path(character_type) %></td>
        <td><%= link_to 'Destroy', character_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
