      <div data-target="fields-for.fields">
        <div class="field">
          <%= subform.label :_destroy %>
          <%= subform.check_box :_destroy, {data: {action: "fields-for#hide"}} %>
        </div>

        <div class="field">
          <%= subform.label :icon %>
          <%= subform.file_field :icon %>
        </div>

        <div class="field">
          <%= subform.label :name %>
          <%= subform.text_field :name %>
        </div>

        <div class="field">
          <%= subform.label :value %>
          <%= subform.text_field :value %>
        </div>
      </div>
