  <%= form_with(model: character_type) do |form| %>
    <% if character_type.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(character_type.errors.count, "error") %> prohibited this character_type from being saved:</h2>

        <ul>
          <% character_type.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group field">
      <%= image_tag(character_type.avatar, width: "100px") if character_type.avatar.attached? %>
      <%= form.label :avatar %>
      <%= form.file_field :avatar, class: "form-control-file" %>
      <span id="avatarblock" class="help-block"></span>
    </div>

    <div class="form-group field">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
      <span id="nameblock" class="help-block"></span>
    </div>

    <div class="actions form-group">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
