<div class="col-xs-6 col-md-6">
  <div class="btn-group" id="character_attribute_<%= character_attribute.id %>">
    <button type="button" class="btn btn-default btn-xs">
      <%= image_tag character_attribute.icon, width: "15px" %>
      <%= character_attribute.data %>
    </button>

    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Edit", edit_character_type_character_attribute_path(character_attribute.character_type, character_attribute), remote: true, 'data-toggle' => 'modal', 'data-target' => '#modal-window' %></li>
      <li><%= link_to "Destroy", character_type_character_attribute_path(character_attribute.character_type, character_attribute), method: :delete, data: { confirm: "Are you sure?"}, remote: true %></li>
    </ul>
  </div>
</div>
