<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h3 id="modal-label">Character Attribute</h3>
</div>

<div class="modal-body" data-toggle="modal">
  <%= form_with(model: @character_attribute, url: [@character_type, @character_attribute]) do |form| %>
    <div class="form-group field">
      <%= form.label :icon %>
      <%= form.file_field :icon, class: "form-control-file" %>
      <span id="character_attributes_icon_block" class="help-block"></span>
    </div>

    <div class="form-group field">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
      <span id="character_attributes_name_block" class="help-block"></span>
    </div>

    <div class="form-group field">
      <%= form.label :value %>
      <%= form.text_field :value, class: "form-control" %>
      <span id="character_attributes_value_block" class="help-block"></span>
    </div>

    <div class="actions form-group">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Close</button>
</div>
