<!DOCTYPE html>
<html>
  <head>
    <title>RPG Game Editor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar fixed: :top, brand: "RPG Game Editor", responsive: true do %>
      <%= menu_group do %>
        <%= menu_item "Home", root_path %>
      <% end %>
      <%= menu_group pull: :right do %>
        <% if current_user %>
          <%= menu_text "Welcome #{current_user.username}" %>
          <%= menu_item "Log Out", logout_path, method: :delete %>
        <% else %>
          <%= menu_item "Log In", login_path %>
        <% end %>
      <% end %>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-mt-12 alert">
          <%= bootstrap_flash %>
        </div>
      </div>
      <div class="row">
        <div class="col-mt-10" id="content">
            <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
